html {
  --color-background: #f5f7fb;
  /* color: var(--color-text); */
}

.result-container {
  border: solid 1px #e7e7e7;
  border-radius: 5px;
  background-color: rgb(188, 137, 220);
}

.select-container {
  border: solid 1px #e7e7e7;
  border-radius: 5px;
  background-color: rgb(137, 137, 220);
}

.input-container {
  border: solid 1px #e7e7e7;
  border-radius: 5px;
  background-color: rgb(137, 220, 174);
}
